<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title-block">
				<h3 class="title">Daftar Pembayaran</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Name</th>
			                <th>Email</th>
			                <th>Bank</th>
			                <th>Description</th>
			                <th>Payslip</th>
			                <th>Payment Date</th>
                            <!-- <th>Status</th> -->
                            <th>Action</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr ng-repeat="pay in data">
			                <th>{{$index+1}}</th>
			                <td>{{pay.payment_username}}</td>
			                <td>{{pay.payment_email}}</td>
			                <td>{{pay.payment_bank}}</td>
			                <td>{{pay.payment_description}}</td>
			                <td>{{pay.payment_payslip}}</td>
			                <td>{{pay.payment_timecreated}}</td>
			                <td ng-if="pay.payment_isconfirmed == 0" ng-click="confirm(pay)"><button class="btn btn-danger">Not Confirmed</button></td>
			                <td ng-if="pay.payment_isconfirmed != 0"><button class="btn btn-success" disabled>Confirmed</button></td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>