<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title-block">
				<h3 class="title">Riwayat Pembayaran {{data.payment_username}} | {{data.payment_email}}</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Bank</th>
			                <th>Description</th>
			                <th>Payslip</th>
			                <th>Payment Date</th>
                            <th>Month</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr ng-repeat="data in data">
			                <th>{{$index+1}}</th>
			                <td>{{data.payment_username}}</td>
			                <td>{{data.payment_description}}</td>
			                <td>
			                	<a ng-click="show(data)" onmouseover='this.style.cursor="pointer"'>{{data.payment_payslip}}</a>
			                </td>
			                <td>{{data.payment_timecreated}}</td>
			                <td>{{data.payment_month}} Bulan</td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>