<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title-block">
				<h3 class="title">Pengguna Terdaftar</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Name</th>
			                <th>Email</th>
			                <th>Company</th>
			                <th>Company Type</th>
			                <th>Company Address</th>
			                <th>Time Created</th>
			                <th>Action</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr ng-repeat="data in user" ng-if="data.user_email != 'admin@gmail.com'">
			                <th>{{$index+1}}</th>
			                <td>{{data.user_name}}</td>
			                <td>{{data.user_email}}</td>
			                <td>{{data.user_company}}</td>
			                <td>{{data.user_typecompany}}</td>
			                <td>{{data.user_addresscompany}}</td>
			                <td>{{data.user_timecreated}}</td>
			                <td style="font-size:16px">
			                	<i ng-click="edit(data)" class="fa fa-pencil-square-o" onmouseover='this.style.cursor="pointer"'></i>
			                	&nbsp;&nbsp;
			                	<i ng-click="delete(data)" class="fa fa-trash" onmouseover='this.style.cursor="pointer"'></i>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>