<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="col-md-2 col-md-offset-11" style="margin-bottom: 20px;">
	            <button ng-click="new()" class="btn btn-outline btn-primary btn-lg " ui-sref="create" uib-tooltip="Create"><i class="fa fa-file-text"></i></button>
	        </div>
			<div class="card-title-block">
				<h3 class="title">Pesan Masuk</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Sender's Name</th>
			                <th>Email</th>
			                <th>Subject</th>
			                <th>Action</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr>
			                <th>1</th>
			                <td>renanda</td>
			                <td>renanda@gmail.com</td>
			                <td>wiuwiwuwiu</td>
			                <td style="font-size:16px">
			                	<i ng-click="" class="fa fa-pencil-search" onmouseover='this.style.cursor="pointer"'></i>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>