<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title-block">
				<h3 class="title">Pesan Masuk</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Sender's Name</th>
			                <th>Email</th>
			                <th>Subject</th>
			                <th>Action</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr ng-repeat="pesan in data">
			                <th>{{$index+1}}</th>
			                <td>{{pesan.contact_name}}</td>
			                <td>{{pesan.contact_email}}</td>
			                <td>{{pesan.contact_subject}}</td>
			                <td style="font-size:16px">
			                	<i ng-click="detail(pesan)" class="fa fa-search" onmouseover='this.style.cursor="pointer"'></i>
			                	&nbsp;&nbsp;
			                	<i ng-click="delete(pesan)" class="fa fa-trash" onmouseover='this.style.cursor="pointer"'></i>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>