<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title-block">
				<h3 class="title">Tagihan</h3>
			</div>
			<section class="example">
			    <table class="table table-hover">
			        <thead style="font-size:14px">
			            <tr>
			                <th>No.</th>
			                <th>Name</th>
			                <th>Email</th>
			                <th>Company</th>
			                <th>Date</th>
			                <th>Due Date</th>
			                <th>Active Period (Day)</th>
                            <th>Remaining Period (Day)</th>
                            <th>Status</th>
                            <th>Is Active</th>
			            </tr>
			        </thead>
			        <tbody style="font-size:13px">
			            <tr ng-repeat="tagihan in data">
			                <th>{{$index+1}}</th>
			                <td>{{tagihan.user.user_name}}</td>
			                <td>{{tagihan.user.user_email}}</td>
			                <td>{{tagihan.user.user_company}}</td>
			                <td>{{tagihan.billing_date}}</td>
			                <td>{{tagihan.billing_duedate}}</td>
			                <td>{{tagihan.billing_activeperiod}}</td>
			                <td>{{tagihan.billing_remainingperiod}}</td>
			                <td>{{tagihan.billing_status}}</td>
			                <td ng-if="tagihan.billing_isactive ==1 ">Active</td>
			                <td ng-if="tagihan.billing_isactive !=1 ">Inactive</td>
			            </tr>
			        </tbody>
			    </table>
			</section>
		</div>
	</div>
</div>