<div class="card card-block sameheight-item" ng-controller="edtUserController">
    <div class="title-block">
        <h3 class="title">User Update</h3>
	</div>
    <form role="form">
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="form-group"> <h6>Name</h6>
		        	<input ng-model="editUser.user_name" type="text" class="form-control" id="exampleInputEmail1">
		        </div>
		        <div class="form-group"> <h6>Email</h6>
		        	<input ng-model="editUser.user_email" type="email" class="form-control" id="exampleInputEmail1">
		        </div>
		        <div class="form-group"> <h6>Company Name</h6>
		        	<input ng-model="editUser.user_company" type="text" class="form-control" id="exampleInputEmail1">
		        </div>
    		</div>
    		<div class="col-sm-6">
    			<div class="form-group"> <h6>Company Type</h6>
		        	<input ng-model="editUser.user_typecompany" type="text" class="form-control" id="exampleInputEmail1">
		        </div>
		        <div class="form-group"> <h6>Company Address</h6>
		        	<textarea ng-model="editUser.user_addresscompany" class="form-control"></textarea>
		        </div>
		        <div class="form-group"> <button ng-click="submit(editUser)" class="btn btn-primary">Submit</button> </div>
    		</div>
    	</div>
    </form>
</div>